/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: brown;
}

.nav-scroller.bg-white.box-shadow {
    margin-top: 56px;
}

main.container {
    border: solid 1px #4CAF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 16px 3px rgba(40, 167, 69, 0.36);
    -moz-box-shadow: 4px 4px 16px 3px rgba(40, 167, 69, 0.36);
    box-shadow: 2px 1px 10px 3px rgba(40, 167, 69, 0.36);
    padding-bottom: 20px;
}

.card-header.bg-success.text-white {
    padding-top: 6px;
    padding-bottom: 0px;
}